<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ezzat.doctoruim">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".View.Patient.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".View.Patient.HomePatientActivity"/>
        <activity
            android:name=".View.Patient.PatientProfileActivity"
            android:label="Profile"
            android:parentActivityName=".View.Patient.HomePatientActivity" />
        <activity
            android:name=".View.Patient.ReservationsActivity"
            android:label="Up Coming Reservations"
            android:parentActivityName=".View.Patient.HomePatientActivity" />
        <activity
            android:name=".View.Patient.SendPatientActivity"
            android:label="Send a Report"
            android:parentActivityName=".View.Patient.HomePatientActivity" />
        <activity
            android:name=".View.Patient.AboutActivity"
            android:label="About us"
            android:parentActivityName=".View.Patient.HomePatientActivity" />
        <activity
            android:name=".View.Patient.HomePatientActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.Doctor.AddClinicActivity" />
        <activity
            android:name=".View.Doctor.HomeDoctorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:parentActivityName=".View.MainActivity" />
        <activity
            android:name=".View.Admin.HomeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".View.Admin.RequestsActivity"
            android:label="Requests"
            android:parentActivityName=".View.Admin.HomeActivity" />
        <activity
            android:name=".View.Admin.RequestActivity"
            android:label="Request"
            android:parentActivityName=".View.Admin.RequestsActivity" />
        <activity
            android:name=".View.Admin.MessagesActivity"
            android:label="Messages"
            android:parentActivityName=".View.Admin.HomeActivity" />
        <activity
            android:name=".View.Admin.MessageActivity"
            android:label="Message"
            android:parentActivityName=".View.Admin.MessagesActivity" />
        <activity
            android:name=".View.Doctor.SendMessageActivity"
            android:label="Send a Report"
            android:parentActivityName=".View.Doctor.DoctorProfileActivity" />
        <activity
            android:name=".View.Doctor.DoctorProfileActivity"
            android:label="Profile"
            android:parentActivityName=".View.Doctor.HomeDoctorActivity" />
    </application>

</manifest>